<mat-toolbar color="primary">
  <h2>Pipeline Builder</h2>
  <span class="nav-spacer"></span>
  <button mat-raised-button (click)="showWorkspaceConfig()">Save</button>

</mat-toolbar>

<app-blockly></app-blockly>

<ng-template #workspaceConfDialog let-dialogRef>
  <h2 mat-dialog-title>Workspace Configuration</h2>
  <mat-dialog-content class="mat-dialog-content">
      <textarea matInput [(ngModel)]="workspaceConfig"  readonly></textarea>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onClose()">Close</button>
    
  </div>
</ng-template>