<mat-toolbar color="primary">
  <h2>Pipeline Builder</h2>
  <span class="nav-spacer"></span>
  <button mat-raised-button (click)="showWorkspaceConfig()">View Configuration</button>
  <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept=".json" />
  <button mat-raised-button (click)="fileInput.click()">Upload Configuration</button>

</mat-toolbar>

<app-blockly></app-blockly>

<ng-template #workspaceConfDialog let-dialogRef>
  <h2 mat-dialog-title>Workspace Configuration</h2>
  <div class="mat-dialog-content">
      <textarea matInput [(ngModel)]="workspaceConfig"></textarea>
  </div>
  <div class="mat-dialog-actions">
    <button mat-button mat-dialog-close (click)="updateWorkspaceConfig()">Update</button>
    <button mat-button mat-dialog-close (click)="onClose()">Close</button>
  </div>
</ng-template>