.nav-spacer {
    flex: 1 1 auto;
}

.mat-dialog-content {
    height: 80%;
}

.mat-dialog-content textarea {
    width: 98%;
    height: 98%;
    resize: none;
    margin: 0px 5px 0px 5px;
}
.mat-dialog-actions{
    float: right;
    margin: 0px;
    padding: 0px;
}
#workspaceConfDialog {
    overflow: hidden !important;
}
